.main-container {
	@apply flex flex-col justify-center items-center gap-12;
}

.add-task-field {
	@apply bg-gray-500 text-gray-300;
	@apply rounded-lg p-4;
	width: 638px;
	height: 3.375rem;
}

.add-task-container {
	@apply flex flex-row gap-2;
	margin-top: -25px;
}

.btn-create-task {
	@apply bg-blue-dark text-gray-100 text-sm;
	@apply flex flex-row items-center justify-center;
	@apply rounded-lg p-4 gap-2;
	width: 5.625rem;
	height: 3.25rem;
	cursor: pointer;
}

.btn-create-task:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}

.tasks-container {
	width: 46rem;
	height: 28.1875rem;
	@apply flex flex-col gap-6;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%; /* regra de 3 pra ser 14px ja que o 100% é 16px pra 1rem */
  }
  .add-task-container {
  	@apply w-96;
  }
  .tasks-container {
  	@apply w-screen p-4;
  }
}
